h3.text-center {
    font-family: monospace;
    font-weight: 300;
    margin: 10px 0 0 0;
}

a.top-text {
    font-size: 40px;
    font-weight: bolder;
    font-family: monospace;
    padding: 0;
}

th.big {
    font-size: 30px;
    font-family: monospace;
}
